@font-face {
    src: url('@bcgov/bc-sans/fonts/BCSans-Regular.woff') format('woff'); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
    font-family: 'BCSans';
}
@font-face {
    src: url('@bcgov/bc-sans/fonts/BCSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
    font-weight: 700;
    font-style: italic;
    font-family: 'BCSans';
}
@font-face {
    src: url('@bcgov/bc-sans/fonts/BCSans-Italic.woff') format('woff'); /* Modern Browsers */
    font-weight: 400;
    font-style: italic;
    font-family: 'BCSans';
}
@font-face {
    src: url('@bcgov/bc-sans/fonts/BCSans-Bold.woff') format('woff'); /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
    font-family: 'BCSans';
}

